// VARIABLES & GLOBAL COMPONENTS
// 0=0, 1=0.25rem, 2=0.5rem, 3=1.0rem(unit), 4=1.5rem, 5=3.0rem

//VARIABLES
$font-1: 'Montserrat', sans-serif;
$font-2: 'Lato', sans-serif;
$font-3: 'Comfortaa', cursive;
$Sam-Parker-Grey: #333333;
$Omar-Drk-Red: #6d0707;
$primary: white;
$secondary: black;
$tertiary: $Omar-Drk-Red;
$quaternary: #333333;
$quinary: #009900;
$senary: $Sam-Parker-Grey;
$septenary: $primary;
$octonary: $primary;
$nonary: $primary;
$denary: #ffffff;

$divider_width: 12.0rem;
$divider_height: 0.3333rem;
$project_item_width: 25.0rem;

// Override Bootstrap input/button variables
$input-btn-border-width: 0.125rem;

// GLOBAL CLASSES

.grow {
	transition: all .2s ease-in-out !important;
	&:hover {
		transform: scale(1.15);
	}
}

html,
body {
	// margin: 0;
	height: 100%;
	font-family: $font-1;
}
body {
	display: flex;
	flex-direction: column;
}
.content {
	flex: 1 0 auto;
	// flex: flex-grow|# flex-shrink|# flex-basis|auto|initial|inherit;
}

.btn {
	text-align: center;
	margin: 0 0.25rem 0 0.25rem;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 0 0.25rem 0 0.25rem;
	font-size: 1.0rem;
	color: $tertiary;
	background-color: darken($primary, 10%);
	border: 0.15rem solid $tertiary;
	border-radius: 0.5rem;
	&:hover {
		color: darken($tertiary, 5%);
		border-color: darken($tertiary, 5%);
		background-color: darken($primary, 20%);
		font-weight: bold;
	}
	&:active,
	&:focus {
		color: darken($tertiary, 10%);
		border-color: darken($tertiary, 10%);
		background-color: darken($primary, 25%);
	}
	&.active {
		color: darken($tertiary, 15%);
		border-color: darken($tertiary, 15%);
		background-color: darken($primary, 30%);
	}
}

.page-section {
	padding: 2.0% 0 1.0% 0;
}

#omarNav {
	background-color: $secondary;
	padding: 1% 0 1% 0;
	font-family: $font-1;
	font-weight: 700;
	.navbar-logo {
		width: 100px;
		height: auto;
		color: $primary;
		&.grow:hover {
			filter: invert(87%) sepia(53%) saturate(4264%) hue-rotate(348deg) brightness(85%) contrast(107%);
		}
	}
	.navbar-brand {
		text-transform: uppercase;
		color: $primary;
		margin: 0 1.0rem 0 0;
		&.grow:hover {
			color: $tertiary;
		}
	}

}

#intro-section {
	display: flex;

	h1 {
		text-align: center;
		color: $tertiary;
		font-size: 1.5rem;
		margin: 0 0 1.0rem 0;
		// font-weight: 300;
	}
	h3 {
		text-align: center;
		color: $tertiary;
		font-size: 1.0rem;
		// font-weight: 300;
	}
	div {
		justify-content: center;
		span {
			color: $tertiary;
			padding: 0 1.0rem 0 0;
		}
	}
}

#canvas-section {
	display: flex;
	padding: 0;
	div {
		#canvas {
			background-color: darken($primary, 10%);
			display: block;
			margin: 0 auto 0 auto;
			padding: 0;
			width: 280px; //strictly in pixels
			height: 280px; //strictly in pixels
			border: 0.2rem solid $tertiary;
			border-radius: 0.5rem;
			cursor: crosshair;
		}
		h3 {
			padding: 1% 0 0.5% 0;
			font-size: 1.0rem;
			text-align: center;
		}
		div {
			justify-content: center;
			// #predict-button {
			// }
			// #clear-button {
			// }
		}
	}
}

#result-section {
	display: flex;
	#result {
		font-size: 1.5rem;
		text-align: center;
		// font-weight: 300;
	}
}

footer {
	flex-shrink: 0;
	padding: 0 0 1% 0;
	background-color: $secondary;
	color: $primary;
	place-content: center;
	text-align: center;
	a {
		color: $primary;
		&:hover {
			color: $tertiary;
			font-weight: bolder;
			text-decoration: none;
		}
	}
	div {
		padding: 1% 0.0rem 1% 0.0rem;
	}
	h4 {
		text-transform: uppercase;
		padding: 3% 0 3% 0;
	}
	#footer-links-section {
		// Custom social buttons
		.btn-social {
			// display: block;
			color: $tertiary;
			align-items: center;
			background-color: darken($primary, 10%);
			border-radius: 50%;
			border: 0.2rem solid $tertiary;
			display: inline-flex;
			font-size: 2.5rem; //4=1.5rem;
			height: 65px; //5=3rem;
			justify-content: center;
			margin: 0.0rem 0.5rem 0.0rem 0.5rem;
			padding: 0.5rem 0.5rem 0.5rem 0.5rem;
			width: 65px; //5=3rem;
		}
	}
	#footer-copyright-section {
		background-color: $secondary;
		color: $tertiary;
		padding: 1% 0 1% 0;
		text-align: center;
		place-content: center;
		#copyright-text {
			color: $tertiary;
			font-size: 1.25rem;
			font-weight: 300;
		}
	}
}

@media screen and (min-width: 0px) and (max-width: 768px) {
	.page-section {
		padding: 1.0% 0 0.5% 0;
		margin: auto 0 auto 0;
	}
	#omarNav {
		.navbar-logo {
			width: 75px;
			height: auto;
		}
		.navbar-brand {
			font-size: 1.0rem;
		}
	}

	#intro-section {
		h1 {
			font-size: 1.25rem;
		}
		h3 {
			font-size: 1.0rem;
		}
	}
	footer {
		div {
			padding: 1.0% 0 1.0% 0;
		}
		padding: 1% 0 0 0;
		h4 {
			padding: 1.0%;
			font-size: 1.25rem;
		}
		a {
			font-size: 1.0rem;
		}
		a.btn-social {
			font-size: 2.0rem;
		}
		a#copyright-text {
			padding: 0;
			margin: 0;
		}
			
	}
}
